*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100vh;
}
.all{
	
	width: 100%;
}
#load{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;   
	background: rgba(0,0,0,0.5);
	position:absolute;	
}
#text{
	height: 100px;
	width: 40%;
	border-radius:25px ;
	background: white;
	text-align: center;
	padding: 20px ;
}

.loop{
	height: 40px;
	width: 40px;
	background: transparent;
	border: none;
	border-left: 2px solid blue; 
	border-radius:50% ;
	animation: loop 0.2s infinite;

}

@keyframes   loop {

	to{
		transform: rotate(360deg);
	}

}

@keyframes destello{

	0%{
		background: red;
	}
	100%{
		background: rgba(0,255,200,0.5);
	}
}

header{
	height: 100px; 
	width: 100%;
	display: flex;
	justify-content: space-evenly;

}
header .title  , header .opc{
	width: 200px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#Group{
	background: rgba(0,255,200,0.5);
	height:40px;
	width: 70%;
	border:none;
	border-radius: 25px;
}	
#view{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell{
	display: none;
	
}
@media screen and (max-width :500px){
	.cell {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;   
		background: rgba(0,0,0,0.5);
		position:absolute;	
	}
	.anime{
		background: white; 
		border-radius: 50%;
		animation: rot 1.5s infinite;

	}
	#mobil{
		height: 80px;
		width: 80px;
	}
	@keyframes rot {
		to{
			transform: rotate(90deg);
		}
	}
}